[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cmake = "*"
face-recognition = "*"
dlib = "*"
update = "*"
djangorestframework = "*"
django = "*"
django-extra-fields = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3"
