[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cmake = "*"
face-recognition = "*"
dlib = "*"
update = "*"
djangorestframework = "*"
django = "*"
django-extra-fields = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
heroku = "*"
httpie = "*"
SpeechRecognition = "*"
winspeech = "*"
pipwin = "*"
twilio = "*"
python-dotenv = "*"
pyyaml = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3"